.dashboard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-bottom: 2px solid #e0e0e0;
    padding: 10px 20px;
    /* border: 1px solid; */
    height: 10vh;
    width: 98%;
    /* margin: 0 0 0 200px; */
  }
  
  .dashboard-title {
    font-size: 24px;
    color: #003f87; /* Couleur bleue */
    font-weight: bold;
  }
  
  .dashboard-actions {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .notification-icon {
    position: relative;
    width: 45px;
    height: 45px;
    background-color: #EBF3C3; /* Fond jaune clair */
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .notification-icon i{
    font-size: 1.1em;
  }
  .parametre-icon{
    position: relative;
    width: 45px;
    height: 45px;
    background-color: #E6E0E9; /* Fond jaune clair */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .parametre-icon i{
    color: #65558F;
  }
  .notification-dot {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 8px;
    height: 8px;
    background-color: red;
    border-radius: 50%;
  }
  
  .user-info {
    display: flex;
    /* flex-direction: column; */
    align-items: flex-end;
    align-items: center;
  }
  .user-nav-bar{
    /* border: 1px solid; */
    margin: 0 0 0 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .user-avatar {
    font-size: 16px;
    font-weight: bold;
    color: #003f87;
    margin: 0 0 10px 0;
  }
  
  .user-role {
    font-size: 14px;
    color: gray;
  }
  